html, body {
  color: black;
	background-color: white;
	margin: 0;
	padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.navbar {
  width: 90%;
  margin: 2vh auto;
  padding-bottom: 100px;
  padding-top: 150px;
}

.navbar ul {
  margin-left: 0;
  padding-left: 0;
  display: flex;
  list-style: none;

  justify-content: flex-start;
}
.navbar li {
  align-self: center;
  
}
.navbar li a {
  color: rgb(156,156,156);
  text-decoration: none;
  font-weight: 400;
  padding-right: 5vw;
}
.navbar li a:hover {
  color: black;
}
.navbar li:nth-of-type(1) a{
  color: black;
}
.navbar li:nth-of-type(1){
  
  font-weight: 700;
  font-family: Montserrat;
  min-width: 250px;
  color: black;
  font-size: 25px;
  

}
.navbar .nav-active a {
  color: black;
}

@media (max-width:600px) {
  .navbar li a {
    padding-right: 1vw;
    font-size: 15px;
  }
  .navbar li:nth-of-type(1){
    min-width: 130px;
    font-size: 18px;
  }
}
.wrapper {

	width: 90%;
	display: grid;
 grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-gap: 5px 5px;
    grid-auto-flow: dense;
    list-style: none;
    margin: 1em auto;
    padding: 0;
    position: relative; 
}

@media screen and (max-width: 1350px){
  .wrapper {
     grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }
}

@media screen and (max-width: 1150px){
  
 .wrapper {
     grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  }
}

@media screen and (max-width: 970px){
    .wrapper {
     grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  } 
  
}
@media screen and (max-width: 790px){
    .wrapper {
     grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  } 
}
@media screen and (max-width: 560px){
   .wrapper {
    display:  flex;
    flex-direction:   column; 

   }
   .wrapper li img {
    margin-top:  5px;
   }
}


.wrapper li {
  position: relative; 
  background: black;
 /* box-shadow: 0px 0px 10px 6px  #636363;*/
    /*border: 1px solid #ccc;*/
}
.wrapper li.landscape {
    grid-column-end: span 2;
}

.wrapper li.landscape-wide{ 
  grid-column-end: span 3;
}
.wrapper li img {

   display: block;
   opacity: 1;
transition: .5s ease;
  backface-visibility: hidden;
  object-fit: cover;
   width: 100%;
   height: 100%; 
}

h3 {
  text-transform: uppercase;
/*  text-shadow: 4px 4px rgba(0, 0, 0, 0.2);*/
  text-align: left;/*
  font-weight: normal;*/
 /* line-height:*/
  margin: 0; 
 font-family: Raleway;
 font-weight: 500;
  font-size: 14px;
  opacity: 0;
  color: white;
  padding-left: 5px;
  padding-right: 5px;

}

.overlay {
  position: absolute;
 top: 5%;
  left: 2%;
}

.wrapper li:hover img {
  opacity: 0.6;
}

.wrapper li:hover h3 {
  opacity: 1;
}

footer {
  text-align: center;
  width: 100%;
  margin: 2vh auto;
  position: absolute;
}
footer li {
flex-basis: 49%;
 margin: auto 2vw;
  color: #e2e2e2;
}


#social-media {
  padding-top: 8vh;
}

#social-media ul {
  list-style: none; 
  display: flex;
  padding-left: 0;
  justify-content: center;
}

#social-media li {
  flex-basis: 5vw;
}
#social-media i {
  color:black;
  font-size: 30px;
}
#social-media p{
  text-align: center;
}
.sections {
  display: none;
  padding: 10vh auto;
  
}

/*.sections:nth-of-type(1){
  border-bottom: 1px solid white;
  }
.section-bottom{
  border-top: 1px solid white;
}*/
.sections ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
.sections a {

  color: #e2e2e2;
  margin: 2vh 2vw;
  text-decoration: none;
}

  .active  a {
  color: black !important;
  text-decoration: underline;
}

.about  {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: justify;
/*  width: 70%;*/
}
.about-text {
  align-self: center;
  width: 73vw;
  max-width: 800px;
  padding-bottom: 10vh;
}
.about-picture {
  align-self: center;
  max-width: 650px;
  width: 60vw;


}

.about-text a {
  color: black;
  text-decoration: none;
}




table {
  width: 80%;
  padding-left: 8%;
  font-weight: 300;
}

td, th {
  border: 1px solid black;
}

.cookie {
 padding-left: 5vw;
 font-size: 'Raleway';
}
footer a,
footer a:hover {
  color: black;
  text-decoration: none;
}
